
@font-face {
    font-family: godfather;
    src: url(godfather.ttf);
}


@font-face {
    font-family: goudy;
    src: url(goudy.otf);
}

#mainpage{
	background-color: black;
    background-image: url(images/django.jpg);
    background-repeat:no-repeat;
    
}

#showmovies{
	background-color: black;
	background-image: url(images/op.jpg);
	background-repeat:no-repeat;
}

#movietitlelink {
	text-decoration:none;
	color:darkgoldenrod;
	font-family:Quattrocento;
	font-size:20px;
	
}
strong{
	
	font-family: Quattrocento;
}

p{
    font-family: Quattrocento;
}

a{
    color: white;
    font-size: 20px;
    font-family: Quattrocento;
}


.header{
    font-family: godfather;
    font-weight: lighter;
    font-size: 100px;
    color: darkgoldenrod;
}

#search {
                width:auto;
                margin:20px auto;
                font-size: 35px;
                font-family: Quattrocento;
}
.search {
                padding:8px 15px;
                background:rgba(255, 255, 255, 0.85);
                border:0px solid #dbdbdb;
                width: 500px;
                height: 50px;
}

.searchshowmovies {
                padding:8px 15px;
                background:rgba(255, 255, 255, 0.85);
                border:0px solid #dbdbdb;
                width: 500px;
                height: 35px;
}


.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid darkgoldenrod;
                background-color:darkgoldenrod;
                color:#fafafa;
                height: 50px
}
.button:hover  {

                background-color:darkgoldenrod;
                color:white;
                cursor: pointer;
                               
}

.button:active  {

                background-color:black;
                color:white;
                cursor: pointer;              
                               
}


#body{
    font-family: garamond;
    color: beige;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: 0px;
    width:1000px;
    height: auto;
    margin:50px auto;
}


hr{
    ;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0));
    
}

#movie{
    min-height: 240;
}

#banner{


    float:left;
    padding:5px;
display:inline;
	      
}

#details{
    margin-left:220px; 
    font-size: 17px;
}
    





button.cart {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 15px "Lucida Grande";
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

button.cart:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

button.cart:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
}


#cartx {
  background-color: #ff2d4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff2d4d), color-stop(100%, #ff1236));
  background-image: -webkit-linear-gradient(top, #ff2d4d, #ff1236);
  background-image: -moz-linear-gradient(top, #ff2d4d, #ff1236);
  background-image: -ms-linear-gradient(top, #ff2d4d, #ff1236);
  background-image: -o-linear-gradient(top, #ff2d4d, #ff1236);
  background-image: linear-gradient(top, #ff2d4d, #ff1236);
  border: 1px solid #ff1236;
  border-bottom: 1px solid #ff1236;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #ff5959;
  -moz-box-shadow: inset 0 1px 0 0 #ff5959;
  box-shadow: inset 0 1px 0 0 #ff5959;
  color: #fff;
  font: bold 15px "Lucida Grande";
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px;
}

#cartx:hover {
  background-color: #ff2d4d;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3857), color-stop(100%, #ff2a4b));
  background-image: -webkit-linear-gradient(top, #ff3857, #ff2a4b);
  background-image: -moz-linear-gradient(top, #ff3857, #ff2a4b);
  background-image: -ms-linear-gradient(top, #ff3857, #ff2a4b);
  background-image: -o-linear-gradient(top, #ff3857, #ff2a4b);
  background-image: linear-gradient(top, #ff3857, #ff2a4b);
  -webkit-box-shadow: inset 0 1px 0 0 #ff2d4d;
  -moz-box-shadow: inset 0 1px 0 0 #ff2d4d;
  box-shadow: inset 0 1px 0 0 #ff2d4d;
  cursor: pointer;
}

#cartx:active {
  border: 1px solid #ff2d4d;
  border-bottom: 1px solid #ff2d4d;
  -webkit-box-shadow: inset 0 0 8px 4px #ff2749, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #ff2749, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #ff2749, 0 1px 0 0 #eeeeee;
}




#alphabet {
    list-style-type: none;
    margin:90px auto 0;
    padding:0;
    cursor: pointer;
    width:80%;
    text-align:center;
}


#alphabet li {
	float:center;
    margin:0;
    padding:5px;
    border-right:1px solid lightgrey;
    font-size: 13px;
    -moz-box-sizing:border-box;
    color:white;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-weight: 500;
}

#alphabet li a{
    color: inherit;
    text-decoration: none;
    font-size: 15px;
}

#alphabet li:last-child {
    border-right: none;
}

#alphabet li:hover {
    color:darkgoldenrod;

}






table {
  font-family: "Helvetica Neue", Helvetica, sans-serif
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

thead {
  background: darkgoldenrod;
  color: white;
}

th,
td {
  padding: 5px 10px;
}



tbody tr td {
  text-align:center;
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}




